<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carponcal.notalone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notalone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_notalone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <service android:name=".WatchService" />
        <service
            android:name=".JobService"
            android:label="Linked to WatchService"
            android:permission="android.permission.BIND_JOB_SERVICE" >
        </service>
        <receiver android:name=".ReceptorArranqueSO" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name=".MainActivity" android:configChanges="screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity" android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity" android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".newActivityActivity" android:configChanges="screenSize|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".myActivitiesActivity" />
        <activity
            android:name=".SelectTypeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MapPickerActivity" android:configChanges="screenSize|orientation"/>
        <activity android:name=".MapaActivity" android:configChanges="screenSize|orientation"/>
        <activity android:name=".ViewerActivity" android:configChanges="screenSize|orientation"></activity>
        <activity
            android:name=".PreferenciasActivity" android:configChanges="screenSize|orientation"
            android:label="Preferencias"/>
        <activity
            android:name=".AcercaDeActivity" android:configChanges="screenSize|orientation"
            android:label="Acerca de ..."
            android:theme="@style/Theme.AppCompat.Dialog" />
    </application>

</manifest>